.page-header {
    width: 100%;
    min-height: 10%;
}

.content {
    padding: 32px;
    color: white;
    display: flex;
    flex-direction: row;
}

.logo-box {
    flex: 0.2;
}

.logo-box > .title {
    font-family: 'Leoscar';
    font-size: 32px;
    letter-spacing: 4px;
}

.logo-box > .subtitle {
    font-family: 'Spectral';
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.title-box {
    flex: 0.6;
}

.account-box {
    flex: 0.2;
}

.clock-title {
    font-family: 'Spectral';
    font-weight: medium;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px 4px 8px 4px;
    font-size: 3em;
    border-radius: 32px;
    letter-spacing: 2px;
}

.clock-title-input {
    font-family: 'Spectral';
    font-weight: medium;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px 4px 8px 4px;
    font-size: 3em;
    border-radius: 32px;
    letter-spacing: 2px;
    background-color: #121212;
}

.clock-title:hover {
    background-color: rgba(255,255,255,0.11);
    cursor: pointer;
}