.mode-selector-main {
    background-color: rgba(255,255,255, 0.05);
    width: 100%;
    border-radius: 32px;
    margin-bottom: 32px;
}

.option-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.pill {
    border-radius: 32px;
    height: 25px;
    width: 100px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: 'Lyons Serif';
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
}

.pill:hover {
    background-color: rgba(255,255,255, 0.5)
}


.pill-selected {
    border-radius: 32px;
    height: 25px;
    width: 100px;
    font-family: 'Lyons Serif';
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    color: #121212;
    background-color: white;
}